* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #000;
    font-family: 'Manrope';
    background-color: #fff;
}

header {
    display: flex;
    width: 100%;
    margin: 0 4%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 100px;
    background-color: #fff;
    top: 0;
    left: 0;
}
.logo{
    width: 100px;
}
.logo>h1 {
    font-size: 20px;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style: none;

}

.navigation>li {
    cursor: pointer;
    font-size: 14px;
    width: 150px;
}

.login-button>h1 {
    font-size: 14px;
    cursor: pointer;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 38px;
    width: 200px;
    height: 60px;
    background: #000000;
    border-radius: 30px;
}

.login-button>h1:hover {
    background-color: #fff;
    color: #000;
    border: 5px solid #000;
}

main {
    display: flex;
    margin: 4%;
    align-items: center;
    margin-top: 10%;
    justify-content: space-between;
    flex-direction: row;
}

.hero {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.hero-button-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 20px 9px 10px;
    gap: 7px;
    font-size: 12px;
    width: 269px;
    height: 42px;
    background: #F7F7F7;
    border-radius: 20px;
}
.arrow{
    width: 15px;
height: 15px;
}
.hero-button-1-1 {
    display: flex;
    color: #fff;
    flex-direction: row;
    align-items: flex-start;
    padding: 3px 12px;
    gap: 10px;
    background-color: #3E4095;
    border-radius: 20px;
    width: 48px;
    height: 24px;
}

.hero>h1 {
    width: 655px;
    margin-top: 20px;
    height: 147px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
}

.hero-button-2 {
    width: 562px;
    height: 60px;
}

.hero-button-2-1 {
    width: 400px;
    height: 60px;
    padding: 5%;
    background: #F6F6F6;
    border: #F6F6F6;
    border-radius: 10px;
}
.hero-button-2-1::placeholder{
font-size: 14px;
color: #000;
line-height: 19px;
}
.hero-button-2-2{
    width: 150px;
height: 60px;
margin-left: 5px;
border: #3E4095;
background-color: #3E4095;
border-radius: 10px;
color: #fff;
}
.hero-button-2-2:hover{
    background-color: #fff;
    border:5px solid #3E4095;
    color: #3E4095;
}
.hero-image {
    border-radius: 10px;
    width: 500px;
}
