* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #000;
    font-family: 'Manrope';
    background-color: #fff;
}
/* should be working now  */

.hero-button-1 {
    
    
    background: #F7F7F7;
}
.arrow{
    width: 15px;
height: 15px;
}
.hero-button-1-1 {
    display: flex;
    color: #fff;
    flex-direction: row;
    align-items: flex-start;
    padding: 3px 12px;
    gap: 10px;
    background-color: #3E4095;
    border-radius: 20px;
    width: 48px;
    height: 24px;
}

.hero>h1 {
    width: 655px;
    margin-top: 20px;
    height: 147px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
}

.hero-button-2 {
    width: 562px;
    height: 60px;
}

.hero-button-2-1 {
    background: #F6F6F6;
    border: #F6F6F6;
    border-radius: 10px;
}

.hero-button-2-2{

border: #3E4095;
background-color: #3E4095;
}
.hero-button-2-2:hover{
    background-color: #fff;
    border:2px solid #3E4095;
    color: #3E4095;
}
.hero-image {
    border-radius: 10px;
    width: 500px;
}
